@tailwind base;
@tailwind components;
@tailwind utilities;


  /* width */
  .dark ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track-piece{
    background: #333435;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #636465;
  }

  .dark ::-webkit-scrollbar-button {
    background: #333435;
    color: #fff;
  }
