@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track-piece{
  background: #333435;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636465;
}

::-webkit-scrollbar-button {
  background: #333435;
  color: #fff;
}
